body,
html {
  height: 100vh;
}

.bg {
  /* The image used */
  background-image: url("../assets/banner.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */
.navbar-nav {
  margin-right: 0 !important;
  padding-right: 100px;
}

.navbar {
  background-color: #0a193d;
  /* color: white !important; */
}

/* .nav-item a {
  color: white !important;
} */

.nav-item {
  padding-left: 2px;
}

.navbar-brand {
  /* color: white !important; */
  padding-left: 100px;
}

#navbar button {
  color: white !important;
}

/* banner */
#banner-container {
  background-color: #0a193d;
  /* color: white !important; */
  padding-top: 80px;
  padding-bottom: 80px;
}

#banner-row img {
  max-width: 70%;
  height: auto;
  display: block;
  padding-left: 30px;
}

#banner-row h3,
p {
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

#banner-row a {
  /* background-color: white !important; */
  /* color: black !important; */
  border: none;
  margin-left: 20px;
  margin-top: 20px;
}
#banner-col {
  padding-left: 20px;
}

/* about section */
#about {
  padding-top: 80px;
  padding-bottom: 80px;
}

#about h1 {
  padding-bottom: 70px;
}

#about-col ul,
fieldset {
  padding-top: 50px;
  padding-left: 50px;
}

#about-col ul li {
  padding-top: 15px;
}

/* footer */
.mb-3 {
  padding-top: 10px;
}

/* responsiveness section */
@media only screen and (max-width: 987px) {
  .navbar-brand {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  #banner-row img {
    padding-top: 20px;
  }

  .social-col {
    width: 33%;
  }
}
